@charset "UTF-8";
/* CSS Document */

/*--------------------------------</li>---
reset.css
-----------------------------------*/


table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------------------------------
base
-----------------------------------*/



/* font-size
10px = 1.0rem
11px = 1.1rem
12px = 1.2rem
...*/
a {
	color: #444;
	text-decoration: none;
}
a:focus {
	outline: none;
}
a:hover,
a:active,
a:focus {
	/*color: #f39800;*/
	text-decoration: none;
	transition: .2s;
}
a.linkcolor {
	color: #f39800;
	text-decoration: underline;
}
a.linkcolor:hover {
	text-decoration: none;
}



/*-----------------------------------
clear
-----------------------------------*/
.clear {
	clear: both;
}
.clearfix::after {
	content: " ";
	display: block;
	clear: both;
}



/*-----------------------------------
ad
-----------------------------------*/

.ad .adsbygoogle { width:720px; height: 90px; margin: 1rem auto;}
@media (max-width:970px) { .ad .adsbygoogle { width: 720px; height: 90px; } }
@media (max-width:720px) { .ad .adsbygoogle { width: 468px; height: 60px; } }
@media (max-width:468px) { .ad .adsbygoogle { width: 300px; height: 250px; } }
